<div id="qrcode"></div>
<div class="btn_bind">
              <button
                id="bindCrealityCloud"
                data-bind="click:bind"
              >
                Create bind code
              </button>
</div>
<div id="idCode"></div>
<div>please use app scan the code</div>