<div class="container_fluid" id="bindPage" data-bind="visible: isAcitived()">
Machine has actived. 
</div>
<div data-bind="visible: !isAcitived()">

<div><a href="https://www.crealitycloud.com/" target="view_window">1. download crealitycloud app</a></div>
<br>
<div class="btn_bind" data-bind="visible: !disabled()">
              <button
                id="bindbtn"
                data-bind="click:bind"
              >
                2. click here get bind code
              </button>
</div>

<div id="qrcode"></div>
<div id="idCode"></div>
<div id="bindCrealityCloud"></div>
<div>3. please use crealitycloud app scan the qrcode or manual input code</div>
</div>

